################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
vt4096
x64
*.user
/Compress
/Debug
/report-fast.html
